.custom-navbar {
  background-color: #333232 !important;
}

.custom-navbar .nav-link {
  color: #ff3b3b;
}

.custom-navbar .nav-link:hover {
  color: #ff6b6b;
}

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

img.text-light {
  filter: brightness(0) invert(1);
  height: 1em;
}

.order-1.navbar-toggler.collapsed {
  border: none;
}
